# Environment / secrets
.env

# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Django
*.sqlite3
staticfiles/
media/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule